<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <title>Vector Icon Example</title>
<body>
  <div class="headerWrap" id="header">
    <div class="navR" style="margin-left:30px;">
      <a href="#" class="nav" id="info">Info</a>
    </div>
    <div class="navR">
      <a href="#" id="helsinki" class="nav">Helsinki</a>
    </div>
    <div class="navR">
      <a href="#" id="vantaa" class="nav">Vantaa</a>
    </div>
    <div class="navR">
      <a href="#" id="espoo" class="nav">Espoo</a>
    </div>
  </div>
</div>

<div class="container-fluid">

  <div class="row-fluid">
    <div class="span12">
      <div class="info" id="infoBox">
        <a href="#"><img src="img/close.png" class="info" id="infoClose" alt="close"></a>
        <h1 class="info">PyörätieFAIL</h1>
        <p class="info">Develop:
          <br> Roni Lindholm
          <br> Chang Rajani
          <br>
          <br>
          Contact:<br>
          <i>hello@domain.com</i>
          <br>
          <br>
          <a href="https://www.facebook.com/groups/580750201947851" class="info">Original Facebook group</a>
          <br><br>
          <br>
          <span style="position:absolute;bottom:15px;left:0;width:100%;">Copyright 2015</span></p>
        </div>



        <div class="add">
          <div id="closed"><a href="#" id="add">Lisää kohde</a></div>
          <div id="open" style="visibility:hidden;opacity:0;">
            <form action="" accept-charset="UTF-8" method="post">
              <a href="#"><img src="img/close.png" class="add" id="close" alt="close"></a>

              <h1 class="add1">Lisää uusi kohde</h1>
              <p class="add1">
                Raahaa piste kartalla haluamaasi kohaan, anna kohtelle nimi ja lyhyt kuvaus. Halutessasi voit lisätä kuvia.
              </p>




              <fieldset>
                <label for="name">Nimi:</label>
                <input type="text" class="name" id="name" name="position[name]">
                <br>
                <label for="desc">Kuvaus:</label>
                <textarea id="desc" name="position[description]"></textarea>
                <input type="hidden" name="position[lon]" id="position_lon">
                <input type="hidden" name="position[lat]" id="position_lat">
                <br><br><br>
                <label for="file">Lisää kuvia:</label>
                <input  type="file" id="file" name="files[]" multiple="multiple" accept="image/*">
                <br>

                <label for="submit">
                  <input type="submit" id="submit" value="Lähteä!">
                </fieldset>

              </form>
            </div>
          </div>

          <div class="desc" id="desc" style="visibility:visible">
            <div id="imgWrap" style="opacity:0">
              <div class="descImg">kuva.jpg</div><div class="descImg">toinen kuva.jpg</div>
            </div>
            <div class="descWrap">
              <p class="descName"></p>
              <p class="descP"><br>Klikkaa kohdetta nähdäksesi lisätietoja.<br><br>Tähän epic stats?</p>

              <div id="descFooter" style="visibility:hidden;">
                <div class="vote" id="vote">
                  <span id="votes" class="vote">420</span>
                  <a href="#" id="addVote"><img src="img/up.png" class="vote" alt="upvote"></a>
                </div>

                <div class="date">Lisätty: <span id="date">4/20/2015</span>
                  <div class="report"><a href="#"><img src="img/report.png" alt="reposrt" title="Virheellinen tieto?" class="report"></a></div></div>
                </div>
              </div>
            </div>
            <div id="map" class="map">
              <div id="popup"></div>

            </div>
          </div>
        </div>

      </div>
      <script type="text/javascript">
        var toggleState = true;
        $(document).ready(function() {
          $('#header').hover(
          function() {
            $(this).fadeTo(200, .9);
          },
          function() {
            $(this).fadeTo(200, 0.6);
          }
          );

          $("#add").click(function() {
            if (toggleState) {

              $(".add").animate({
                height: 500,
                width: 450
              }, {
                duration: 350,
                queue: false,
                complete: function() {
                  $(".add").css("text-align","left");

                  $('#open').css("visibility", "visible");
                  $('#open').fadeTo(300,1);
                  $('#open [style]').removeAttr('style');
                  $('#open').width("100%").height("100%");

                }
              });
              $('.desc').fadeOut(200);
              $('#closed').css("visibility", "hidden");
              //$('.desc').css("visibility","hidden");
            } else {
              $(".add").animate({
                height: 40,
                width: 110
              }, 200, function() {
                $(".add").css("text-align","center");
                $('#closed').css("visibility", "visible");
                $('#open').css("visibility", "hidden");
              });
            }
            $("#close").click(function() {
              $('#open').fadeTo(200,0);
              $(".add").animate({
                height: 40,
                width: 100
              }, {
                duration: 350,
                queue: false,
                complete: function() {
                  $('#closed').css("visibility", "visible");
                  $('#open').css("visibility", "hidden");
                  //$('.desc').css("visibility", "visible");
                  $('.desc').fadeTo(200, 1);
                  toggleState = !toggleState;
                }
              });

              $('.desc').fadeIn(200);
              $("#close").css("visibility", "hidden");

            });

          })

          $("#info").click(function() {

            $('#infoBox').fadeTo(500, 1);
            $('#infoBox').dimBackground({
              darkness: 0.8,
              fadeOutDuration: 500,
              fadeInDuration: 500
            });
            $('#infoBox').css("visibility", "visible");
          });


          $("#infoClose").click(function() {
            $('#infoBox').fadeTo(400, 0, function() {
              $('#infoBox').css("visibility", "hidden");

            });
            $('#infoBox').undim({
              fadeOutDuration: 500,
              fadeInDuration: 500
            });
          });
          $(document).on('click', function(event) {
            if (!$(event.target).closest('#infoBox').length && $('#infoBox').css('opacity') == 1) {
              $('#infoBox').fadeTo(400, 0, function() {
                $('#infoBox').css("visibility", "hidden");

              });
              $('#infoBox').undim({
                fadeOutDuration: 500,
                fadeInDuration: 500
              });
            }
          });
        });
        var url = 'http://pointmap.herokuapp.com/positions';
        $('form').submit(function() {
          //var url = $(this).attr('action')
          var params = $(this).serialize()
          $.getJSON("positions.json", function(data) {
            // success
          })
          return false
        });
      </script>
      <script src="map.js"></script>
    </body>

    </html>
