@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

body {
  font-family: 'Ubuntu';
  padding-left: 2%;
  padding-right: 2%;
}

h1 {
  @extend .text-center;
}

.btn {
  border-radius: 0px
}
