@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

body {
  font-family: 'Ubuntu';
  padding-left: 2%;
  padding-right: 2%;
}

h1 {
  @extend .text-center;
  letter-spacing: 1px;
}

.btn {
    border-width: 2px;
    font-weight: 700;
    background: none;
    color: inherit;
}

.nav-tabs .navbar-brand {
  font-family:  monospace;
  border-radius:0;
  color: black;
  font-weight: 700;
  letter-spacing: 1px;
}

.navbar-btn {
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.badge {
  background-color: #7EA8D4;
}

.badge-danger {
  @extend .badge;
  background-color: #B74934;
}

.navi-right {
  @extend .nav;
  @extend .navbar-btn;
  @extend .navbar-right;
}

.navi-left {
  @extend .nav;
  @extend .navbar-btn;
}
