@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

body {
  font-family: 'Ubuntu';
  padding-left: 2%;
  padding-right: 2%;
}

h1 {
  @extend .text-center;
}

.btn {
  border-radius: 0px
}

.label {
  border-radius: 0px
}

.myNavbar {
    background-color: transparent;
    color:#222;
    border: 1px solid #333;
 }

.navi-right {
  @extend .nav;
  @extend .navbar-btn;
  @extend .navbar-right;
}

.navi-left {
  @extend .nav;
  @extend .navbar-btn;
}
