@font-face {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  src: url('resc/GIL_____.TTF') format('truetype'),
  url('resc/GIL_____.woff') format('woff');
}

html,
body,
.container-fluid {
  height: 100%;
  margin: 0;
  padding: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  overflow: hidden;
}

.ol-zoom{
  top:4em;
}

#map {
  position: relative;
  width: 100%;
}


.ol-attribution {
  bottom: 1em;
}

a {
  font-size: 16px;
}



.headerWrap {
  height: 45px;
  width: 100%;
  background-color: #78d978;
  color: white;
  position: fixed;
  top:0;
  z-index: 100;
  opacity: .6;
}

.navR {
  text-align: right;
  margin: 10px;
  float:right;
  color:white;
  width:55px;
}


a.nav {
  color:white;
  font-size:19px;
}

a.nav:hover {
  color:white;
  text-decoration:none;
  font-weight: bold;
}

a.info {
  font-size: 18px;
}

a.info:hover {
  font-size: 18px;
  text-decoration: none;
}
.add {
  z-index: 100;
  position: fixed;
  right: 0px;
  top: 50px;

  margin-top: 15px;
  margin-right: 15px;
  background-color: white;
  padding: 12px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  /* future proofing */
  -khtml-border-radius: 10px;
  /* for old Konqueror browsers */
  height: 3em;
  width: 8em;
  text-align: center;
}

img.add {
  width: 45px;
  height: 45px;
  z-index: 100;

}

form {
  margin-top: -30px;
}

p.add1 {
  padding-left:15px;
  margin-bottom:15px;
  font-size:16px;
}

h1.add1 {
  padding-left:15px;
  font-size:27px;
}

label {
  text-align: right;
  width: 90px;
}

textarea {
  vertical-align: top;
  width:200px;
  height:200px;
}

input.name {
  width:200px;
}


input.file {


}

.desc {
  z-index: 100;
  position: fixed;
  right: 0px;
  top: 100px;
  margin-top: 15px;
  margin-right: 15px;
  background-color: white;
  padding: 12px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  /* future proofing */
  -khtml-border-radius: 10px;
  /* for old Konqueror browsers */
  height: 29em;
  width: 200px;
  float:right;
}

.descImg {
  z-index: 100;
  background-color: white;
  padding: 12px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  /* future proofing */
  -khtml-border-radius: 10px;
  /* for old Konqueror browsers */
  height: 60px;
  width: 70px;
  margin-top: 8px;
  position: relative;
  right: 90px;
  top:0;
  margin-right: 0;
}

div.descWrap {
  position:absolute;
  top:5px;

  padding-right: 12px;
}

p.descName {
  font-size:28px;
  margin-bottom: 3px;
}

p.descP {
  font-size:15px;

}

img.vote {
  width:25px;
  height:25px;
  position: relative;
  top:-5px;
  margin-left: 7px;
}

div.vote {
  float: left;
  margin:4px 0px;
}

span.vote {
  font-weight: bold;
  font-size: 17px;
}

div.date {
  width:100%;
  float:left;
  text-align: left;
  margin-right:15px;
  font-size: 12px;
}

div.report {
  float:right;
  position: relative;
  top:-5px;
}

img.report {
  width:15px;
  height:15px;
  opacity:.3;
}


div.info {
  visibility: hidden;
  opacity: 0;
  z-index: 200;
  position: fixed;
  top: 50%;
  left: 50%;
  width:300px;
  height:500px;
  background-color: white;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  /* future proofing */
  -khtml-border-radius: 10px;
  margin-top: -250px;
  margin-left: -150px;
  padding:15px;
}

img.info {

  float: right;
  width:25px;
  height:25px;
  margin:10px;
}

h1.info {
  margin-top:18%;
  font-size: 35px;
  width:100%;
  height:10%;
  text-align: center;
  clear:both;
}

p.info {
  font-size: 18px;
  width:100%;
  text-align: center;
  height:80%;

}
